In [3]:
import pandas as pd
import matplotlib.pyplot as plt

# Load historical price data
prices_day_neg1 = pd.read_csv('prices_round_1_day_-1.csv', sep=';')
prices_day_neg2 = pd.read_csv('prices_round_1_day_-2.csv', sep=';')
prices_day_0 = pd.read_csv('prices_round_1_day_0.csv', sep=';')

# Load historical traders data
trades_day_neg1 = pd.read_csv('trades_round_1_day_-1_nn.csv', sep=';')
trades_day_neg2 = pd.read_csv('trades_round_1_day_-2_nn.csv', sep=';')
trades_day_0 = pd.read_csv('trades_round_1_day_0_nn.csv', sep=';')

In [4]:
# Analysis for prices_day_0
prices_day_0['7_day_MA'] = prices_day_0[prices_day_0['product'] == 'STARFRUIT']['mid_price'].rolling(window=7 * 24).mean() 
prices_day_0['3_day_MA'] = prices_day_0[prices_day_0['product'] == 'STARFRUIT']['mid_price'].rolling(window=3 * 24).mean() 
prices_day_0['14_day_MA'] = prices_day_0[prices_day_0['product'] == 'STARFRUIT']['mid_price'].rolling(window=14 * 24).mean() 

prices_day_neg1['7_day_MA'] = prices_day_neg1[prices_day_neg1['product'] == 'STARFRUIT']['mid_price'].rolling(window=7 * 24).mean() 
prices_day_neg1['3_day_MA'] = prices_day_neg1[prices_day_neg1['product'] == 'STARFRUIT']['mid_price'].rolling(window=3 * 24).mean() 
prices_day_neg1['14_day_MA'] = prices_day_neg1[prices_day_neg1['product'] == 'STARFRUIT']['mid_price'].rolling(window=14 * 24).mean() 

prices_day_neg2['7_day_MA'] = prices_day_neg2[prices_day_neg2['product'] == 'STARFRUIT']['mid_price'].rolling(window=7 * 24).mean() 
prices_day_neg2['3_day_MA'] = prices_day_neg2[prices_day_neg2['product'] == 'STARFRUIT']['mid_price'].rolling(window=3 * 24).mean() 
prices_day_neg2['14_day_MA'] = prices_day_neg2[prices_day_neg2['product'] == 'STARFRUIT']['mid_price'].rolling(window=14 * 24).mean()

In [5]:
prices_day_0_std_starfruit = prices_day_0[prices_day_0['product'] == 'STARFRUIT']['mid_price'].std()
prices_day_neg1_std_starfruit = prices_day_neg1[prices_day_neg1['product'] == 'STARFRUIT']['mid_price'].std()
prices_day_neg2_std_starfruit = prices_day_neg2[prices_day_neg2['product'] == 'STARFRUIT']['mid_price'].std()


prices_day_0_std_amethysts = prices_day_0[prices_day_0['product'] == 'AMETHYSTS']['mid_price'].std()
prices_day_neg1_std_amethysts = prices_day_neg1[prices_day_neg1['product'] == 'AMETHYSTS']['mid_price'].std()
prices_day_neg2_std_amethysts = prices_day_neg2[prices_day_neg2['product'] == 'AMETHYSTS']['mid_price'].std()

prices_day_0_std_starfruit, prices_day_neg1_std_starfruit, prices_day_neg2_std_starfruit

(11.717388685934324, 13.575897144418418, 32.75140250778001)

In [6]:
prices_day_0_std_amethysts, prices_day_neg1_std_amethysts, prices_day_neg2_std_amethysts

(1.4962281936191668, 1.479606016274738, 1.5138417756463134)

In [11]:
# Calculate Moving Averages
def calculate_moving_averages(df, product, window_sizes):
    """Calculates moving averages for the specified product and window sizes"""

    for window_size in window_sizes:
        df[f'{window_size}-day_MA'] = df[df['product'] == product]['mid_price'].rolling(window=window_size * 24).mean()

mov_avg_prices_day0_starfruit = calculate_moving_averages(prices_day_0, 'STARFRUIT', [7, 30]) 
prices_day_0.tail(5)

,day,timestamp,product,bid_price_1,bid_volume_1,bid_price_2,bid_volume_2,bid_price_3,bid_volume_3,ask_price_1,...,ask_volume_2,ask_price_3,ask_volume_3,mid_price,profit_and_loss,7_day_MA,3_day_MA,14_day_MA,7-day_MA,30-day_MA
19995,0,999700,STARFRUIT,5053,1,5048.0,26.0,NaN,NaN,5054,...,24.0,NaN,NaN,5053.5,0.0,5053.803571,5053.909722,5055.410714,5053.803571,5057.134028
19996,0,999800,STARFRUIT,5047,27,NaN,NaN,NaN,NaN,5052,...,27.0,NaN,NaN,5049.5,0.0,5053.776786,5053.805556,5055.389881,5053.776786,5057.120139
19997,0,999800,AMETHYSTS,9995,27,NaN,NaN,NaN,NaN,10005,...,NaN,NaN,NaN,10000.0,0.0,NaN,NaN,NaN,NaN,NaN
19998,0,999900,STARFRUIT,5048,2,5047.0,21.0,NaN,NaN,5054,...,NaN,NaN,NaN,5051.0,0.0,5053.752976,5053.756944,5055.372024,5053.752976,5057.104861
19999,0,999900,AMETHYSTS,9996,2,9995.0,21.0,NaN,NaN,10004,...,21.0,NaN,NaN,10000.0,0.0,NaN,NaN,NaN,NaN,NaN