In [1]:
import pandas as pd
import matplotlib.pyplot as plt

# Load historical price data
prices_day_neg1 = pd.read_csv('prices_round_1_day_-1.csv', sep=';')
prices_day_neg2 = pd.read_csv('prices_round_1_day_-2.csv', sep=';')
prices_day_0 = pd.read_csv('prices_round_1_day_0.csv', sep=';')

# Load historical traders data
trades_day_neg1 = pd.read_csv('trades_round_1_day_-1_nn.csv', sep=';')
trades_day_neg2 = pd.read_csv('trades_round_1_day_-2_nn.csv', sep=';')
trades_day_0 = pd.read_csv('trades_round_1_day_0_nn.csv', sep=';')

In [2]:
# Analysis for prices_day_0
prices_day_0['7_day_MA'] = prices_day_0[prices_day_0['product'] == 'STARFRUIT']['mid_price'].rolling(window=7 * 24).mean() 
prices_day_0['3_day_MA'] = prices_day_0[prices_day_0['product'] == 'STARFRUIT']['mid_price'].rolling(window=3 * 24).mean() 
prices_day_0['14_day_MA'] = prices_day_0[prices_day_0['product'] == 'STARFRUIT']['mid_price'].rolling(window=14 * 24).mean() 

prices_day_neg1['7_day_MA'] = prices_day_neg1[prices_day_neg1['product'] == 'STARFRUIT']['mid_price'].rolling(window=7 * 24).mean() 
prices_day_neg1['3_day_MA'] = prices_day_neg1[prices_day_neg1['product'] == 'STARFRUIT']['mid_price'].rolling(window=3 * 24).mean() 
prices_day_neg1['14_day_MA'] = prices_day_neg1[prices_day_neg1['product'] == 'STARFRUIT']['mid_price'].rolling(window=14 * 24).mean() 

prices_day_neg2['7_day_MA'] = prices_day_neg2[prices_day_neg2['product'] == 'STARFRUIT']['mid_price'].rolling(window=7 * 24).mean() 
prices_day_neg2['3_day_MA'] = prices_day_neg2[prices_day_neg2['product'] == 'STARFRUIT']['mid_price'].rolling(window=3 * 24).mean() 
prices_day_neg2['14_day_MA'] = prices_day_neg2[prices_day_neg2['product'] == 'STARFRUIT']['mid_price'].rolling(window=14 * 24).mean()

In [3]:
prices_day_0_std_starfruit = prices_day_0[prices_day_0['product'] == 'STARFRUIT']['mid_price'].std()
prices_day_neg1_std_starfruit = prices_day_neg1[prices_day_neg1['product'] == 'STARFRUIT']['mid_price'].std()
prices_day_neg2_std_starfruit = prices_day_neg2[prices_day_neg2['product'] == 'STARFRUIT']['mid_price'].std()


prices_day_0_std_amethysts = prices_day_0[prices_day_0['product'] == 'AMETHYSTS']['mid_price'].std()
prices_day_neg1_std_amethysts = prices_day_neg1[prices_day_neg1['product'] == 'AMETHYSTS']['mid_price'].std()
prices_day_neg2_std_amethysts = prices_day_neg2[prices_day_neg2['product'] == 'AMETHYSTS']['mid_price'].std()

prices_day_0_std_starfruit, prices_day_neg1_std_starfruit, prices_day_neg2_std_starfruit

(11.717388685934324, 13.575897144418418, 32.75140250778001)

In [4]:
prices_day_0_std_amethysts, prices_day_neg1_std_amethysts, prices_day_neg2_std_amethysts

(1.4962281936191668, 1.479606016274738, 1.5138417756463134)

In [5]:
# Calculate Moving Averages
def calculate_moving_averages(df, product, window_sizes):
    """Calculates moving averages for the specified product and window sizes"""

    for window_size in window_sizes:
        df[f'{window_size}-day_MA'] = df[df['product'] == product]['mid_price'].rolling(window=window_size * 24).mean()

mov_avg_prices_day0_starfruit = calculate_moving_averages(prices_day_0, 'STARFRUIT', [7, 30])

In [12]:
# Filter for AMETHYSTS data
amethyst_prices = prices_day_neg2[prices_day_neg2['product'] == 'AMETHYSTS']

# Find max and min values for each column (excluding 'timestamp' and 'product')
max_values = amethyst_prices.max()
min_values = amethyst_prices.min()

# Print the results
print("Maximum Values:\n", max_values)
print("\nMinimum Values:\n", min_values)

Maximum Values:
 day                       -2
timestamp             999900
product            AMETHYSTS
bid_price_1            10002
bid_volume_1              30
bid_price_2            10000
bid_volume_2              30
bid_price_3             9996
bid_volume_3              30
ask_price_1            10005
ask_volume_1              30
ask_price_2            10005
ask_volume_2              30
ask_price_3            10005
ask_volume_3              30
mid_price            10003.5
profit_and_loss            0
7_day_MA                 NaN
3_day_MA                 NaN
14_day_MA                NaN
dtype: object

Minimum Values:
 day                       -2
timestamp                  0
product            AMETHYSTS
bid_price_1             9995
bid_volume_1               0
bid_price_2             9995
bid_volume_2               1
bid_price_3             9995
bid_volume_3               1
ask_price_1             9998
ask_volume_1               1
ask_price_2            10000
ask_volume_2               1
ask_price_3            10002
ask_volume_3               1
mid_price             9996.5
profit_and_loss            0
7_day_MA                 NaN
3_day_MA                 NaN
14_day_MA                NaN
dtype: object

In [16]:
trades_day_0[trades_day_0['symbol'] == 'AMETHYSTS']

      timestamp  buyer  seller     symbol   currency    price  quantity
1           100    NaN     NaN  AMETHYSTS  SEASHELLS  10002.0         1
2           300    NaN     NaN  AMETHYSTS  SEASHELLS   9998.0         2
3           300    NaN     NaN  AMETHYSTS  SEASHELLS   9998.0         1
6           500    NaN     NaN  AMETHYSTS  SEASHELLS  10004.0         1
7           500    NaN     NaN  AMETHYSTS  SEASHELLS  10002.0         1
...         ...    ...     ...        ...        ...      ...       ...
5306     997600    NaN     NaN  AMETHYSTS  SEASHELLS  10002.0         4
5307     997700    NaN     NaN  AMETHYSTS  SEASHELLS  10002.0         1
5309     998400    NaN     NaN  AMETHYSTS  SEASHELLS  10002.0         4
5313     998800    NaN     NaN  AMETHYSTS  SEASHELLS  10002.0         1
5314     999500    NaN     NaN  AMETHYSTS  SEASHELLS   9995.0         2

[2404 rows x 7 columns]