In [83]:
import pandas as pd
import matplotlib.pyplot as plt

# Load historical price data
prices_day_neg1 = pd.read_csv('prices_round_1_day_-1.csv', sep=';')
prices_day_neg2 = pd.read_csv('prices_round_1_day_-2.csv', sep=';')
prices_day_0 = pd.read_csv('prices_round_1_day_0.csv', sep=';')

# Load historical traders data
trades_day_neg1 = pd.read_csv('trades_round_1_day_-1_nn.csv', sep=';')
trades_day_neg2 = pd.read_csv('trades_round_1_day_-2_nn.csv', sep=';')
trades_day_0 = pd.read_csv('trades_round_1_day_0_nn.csv', sep=';')

In [91]:
# Analysis for prices_day_0
prices_day_0['7_day_MA'] = prices_day_0[prices_day_0['product'] == 'STARFRUIT']['mid_price'].rolling(window=7 * 24).mean() 
prices_day_0['3_day_MA'] = prices_day_0[prices_day_0['product'] == 'STARFRUIT']['mid_price'].rolling(window=3 * 24).mean() 
prices_day_0['14_day_MA'] = prices_day_0[prices_day_0['product'] == 'STARFRUIT']['mid_price'].rolling(window=14 * 24).mean() 

prices_day_neg1['7_day_MA'] = prices_day_neg1[prices_day_neg1['product'] == 'STARFRUIT']['mid_price'].rolling(window=7 * 24).mean() 
prices_day_neg1['3_day_MA'] = prices_day_neg1[prices_day_neg1['product'] == 'STARFRUIT']['mid_price'].rolling(window=3 * 24).mean() 
prices_day_neg1['14_day_MA'] = prices_day_neg1[prices_day_neg1['product'] == 'STARFRUIT']['mid_price'].rolling(window=14 * 24).mean() 

prices_day_neg2['7_day_MA'] = prices_day_neg2[prices_day_neg2['product'] == 'STARFRUIT']['mid_price'].rolling(window=7 * 24).mean() 
prices_day_neg2['3_day_MA'] = prices_day_neg2[prices_day_neg2['product'] == 'STARFRUIT']['mid_price'].rolling(window=3 * 24).mean() 
prices_day_neg2['14_day_MA'] = prices_day_neg2[prices_day_neg2['product'] == 'STARFRUIT']['mid_price'].rolling(window=14 * 24).mean()

,day,timestamp,product,bid_price_1,bid_volume_1,bid_price_2,bid_volume_2,bid_price_3,bid_volume_3,ask_price_1,ask_volume_1,ask_price_2,ask_volume_2,ask_price_3,ask_volume_3,mid_price,profit_and_loss,7_day_MA,3_day_MA,14_day_MA
0,0,0,AMETHYSTS,9998,1,9995.0,30.0,NaN,NaN,10005,30,NaN,NaN,NaN,NaN,10001.5,0.0,NaN,NaN,NaN
1,0,0,STARFRUIT,5036,30,NaN,NaN,NaN,NaN,5043,30,NaN,NaN,NaN,NaN,5039.5,0.0,NaN,NaN,NaN
2,0,100,AMETHYSTS,9996,1,9995.0,30.0,NaN,NaN,10002,6,10004.0,1.0,10005.0,30.0,9999.0,0.0,NaN,NaN,NaN
3,0,100,STARFRUIT,5041,4,5037.0,1.0,5036.0,30.0,5043,31,NaN,NaN,NaN,NaN,5042.0,0.0,NaN,NaN,NaN
4,0,200,AMETHYSTS,9996,1,9995.0,21.0,NaN,NaN,10004,1,10005.0,21.0,NaN,NaN,10000.0,0.0,NaN,NaN,NaN

In [104]:
prices_day_0_std_starfruit = prices_day_0[prices_day_0['product'] == 'STARFRUIT']['mid_price'].std()
prices_day_neg1_std_starfruit = prices_day_neg1[prices_day_neg1['product'] == 'STARFRUIT']['mid_price'].std()
prices_day_neg2_std_starfruit = prices_day_neg2[prices_day_neg2['product'] == 'STARFRUIT']['mid_price'].std()


prices_day_0_std_amethysts = prices_day_0[prices_day_0['product'] == 'AMETHYSTS']['mid_price'].std()
prices_day_neg1_std_amethysts = prices_day_neg1[prices_day_neg1['product'] == 'AMETHYSTS']['mid_price'].std()
prices_day_neg2_std_amethysts = prices_day_neg2[prices_day_neg2['product'] == 'AMETHYSTS']['mid_price'].std()

prices_day_0_std_starfruit, prices_day_neg1_std_starfruit, prices_day_neg2_std_starfruit

(11.717388685934324, 13.575897144418418, 32.75140250778001)

In [105]:
prices_day_0_std_amethysts, prices_day_neg1_std_amethysts, prices_day_neg2_std_amethysts

(1.4962281936191668, 1.479606016274738, 1.5138417756463134)